/* Below line is used for online Google font */
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
h2{
text-align: left;
font-size: 30px;
margin-left: 9px;
color: #4A777A;
}
hr{
margin-bottom: 30px;
color: white;
}
/*div.container{
width: 960px;
height: 610px;
margin:50px auto;
font-family: 'Droid Serif', serif;
position:relative;
z-index: 99;
}*/
div.main{
width:  400px;
float:left;
background-color: rgba(255, 255, 255, 0.65);
border: 2px solid white;
box-shadow: 0 0 10px;
border-radius: 2px;
font-size: 13px;
position: fixed;
z-index: 3;
left: 500px;
top:100px;
height: 520px;

}
/*input[type=text] {
width: 97.7%;
height: 34px;
padding-left: 5px;
margin-bottom: 20px;
margin-top: 8px;
box-shadow: 0 0 5px #fff;
border: 2px solid #;
color: #4f4f4f;
font-size: 16px;
}*/
#register {
background: #4E78A0; /*#F0A9BA;/*linear-gradient(black 1%, #22abe9 100%);*/
border: none;
color: white;
cursor: pointer;
border-radius: 50%;
width: 40px;
height: 40px;
float: right;
margin-right: 20px;
}
#register:hover{

}

#info{
	width: 100%;
	height: 60%;
}
#inputs{
	float: right;
	width: 70%;
	padding-left: 10px;
	padding-top: 5px;
}

#labels{
	float: left;
	width: 20%;
	padding-left: 35px;
	padding-top: 10px; 
	cursor: pointer;
}
#labels label{
	color: #4E78A0;
	margin-bottom: 30px;
}
#inputs input{
	margin-bottom: 20px; 
	height: 30px; 
	border-top: none; 
	border-left: none; 
	border-right: none;
	width: 230px;
}
#subm{
	height: 20%; 
}
form{
	height: 100%;
	display: block;
}

	#headfrom{
		width: 100%;
		display: inline-flex;
		height: 12%;
	}
	#headfrom h2{
		width: 90%;
		float: left;
	}
	#headfrom #exit{
		width: 10%;
		float: right;
		margin-top: 25px;
		height: 80%;
		cursor: pointer;
	}
	